name: "PR Checks"
on: push

jobs:
    test:
        runs-on: ubuntu-latest
        name: Action Test
        steps:
            - uses: actions/checkout@v1

            - name: "Install Dependencies"
              run: npm install

            - name: "Build the package"
              run: npm run build

            - name: "Check if new build was checked in"
              run: |
                if [ $(git status --porcelain | wc -l) -gt 0 ] ; then
                  echo "Found uncommited changes. Did you forget to check in the dist/ folder?"
                  git status --porcelain
                  exit 1
                fi

            - uses: ./
              with:
                username: ${{ secrets.SAUCE_USERNAME }}
                accessKey: ${{ secrets.SAUCE_ACCESS_KEY }}
                tunnelName: github-action-tunnel
                tunnelPool: true
                configFile: ${{ github.workspace }}/sc-configuration/config.yaml

            - name: "Run Test"
              run: npm run test
              env:
                SAUCE_USERNAME: ${{ secrets.SAUCE_USERNAME }}
                SAUCE_ACCESS_KEY: ${{ secrets.SAUCE_ACCESS_KEY }}
